{% extends 'admin/base.html' %}
{% block content %}
  <div class="py-4">
    <nav aria-label="breadcrumb" class="d-none d-md-inline-block">
      <ol class="breadcrumb breadcrumb-dark breadcrumb-transparent">
        <li class="breadcrumb-item">
          <a href="/">
            <svg class="icon icon-xxs" fill="none" stroke="currentColor" viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg">
              <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M3 12l2-2m0 0l7-7 7 7M5 10v10a1 1 0 001 1h3m10-11l2 2m-2-2v10a1 1 0 01-1 1h-3m-6 0a1 1 0 001-1v-4a1 1 0 011-1h2a1 1 0 011 1v4a1 1 0 001 1m-6 0h6"></path>
            </svg>
          </a>
        </li>
        <li class="breadcrumb-item">
          <a href="{% url 'dashboard' %}">Dashboard</a>
        </li>
        <li class="breadcrumb-item active" aria-current="page">Survey Details</li>
      </ol>
    </nav>
    <div class="d-flex justify-content-between w-100 flex-wrap">
      <div class="mb-3 mb-lg-0">
        <h1 class="h4">Survey Details</h1>
      </div>
    </div>
  </div>

  <div class="">
    <div class="">
      <div class="card card-body border-0 shadow table-wrapper table-responsive">
        <table id="myTable" class="table table-hover">
          <thead class="thead-light">
            <tr>
              <th class="border-0 rounded-start">#</th>
              <th class="border-0">User</th>
              <th class="border-0">Register as</th>
              <th class="border-0">Industry</th>
              <th class="border-0 rounded-end">Find us</th>
              <th>Purpose</th>
              <th>Languages</th>
              <th>Usage</th>

            </tr>
          </thead>
          <tbody>
            {% for i in data %}
              <tr>
                <td>
                  <a href="#" class="text-primary fw-bold">{{ forloop.counter }}</a>
                </td>
                <td>{{ i.user }}</td>
                <td>{{ i.register_as }}</td>
                <td>{{ i.industry }}</td>
                <td>{{ i.find_us }}</td>
                <td>{{ i.purpose }}</td>
                <td>
                  {% for i in i.languages %}
                  <span>{{i}},</span>
                  {% endfor %}
                </td>
                <td>{{ i.usage }}</td>
              </tr>
              <div class="modal fade" id="modal-default" tabindex="-1" role="dialog" aria-labelledby="modal-default" aria-hidden="true">
                <div class="modal-dialog modal-dialog-centered" role="document">
                  <div class="modal-content">
                    <div class="modal-header">
                    <h4 class="h6 modal-title">{{ feedback.name }} |
                    {% if feedback.star_rating == 5 %}
                    <i class="bi bi-star-fill"></i>&nbsp;<i class="bi bi-star-fill"></i>&nbsp;<i class="bi bi-star-fill"></i>&nbsp;<i class="bi bi-star-fill"></i>&nbsp;<i class="bi bi-star-fill"></i>
                    {% elif feedback.star_rating == 4 %}
                    <i class="bi bi-star-fill"></i>&nbsp;<i class="bi bi-star-fill"></i>&nbsp;<i class="bi bi-star-fill"></i>&nbsp;<i class="bi bi-star-fill"></i>&nbsp;<i class="bi bi-star"></i>
                    {% elif feedback.star_rating == 3 %}
                    <i class="bi bi-star-fill"></i>&nbsp;<i class="bi bi-star-fill"></i>&nbsp;<i class="bi bi-star-fill"></i>&nbsp;<i class="bi bi-star"></i>&nbsp;<i class="bi bi-star"></i>
                    {% elif feedback.star_rating == 2 %}
                    <i class="bi bi-star-fill"></i>&nbsp;<i class="bi bi-star-fill"></i>&nbsp;<i class="bi bi-star"></i>&nbsp;<i class="bi bi-star"></i>&nbsp;<i class="bi bi-star"></i>
                    {% else %}
                    <i class="bi bi-star-fill"></i>&nbsp;<i class="bi bi-star"></i>&nbsp;<i class="bi bi-star"></i>&nbsp;<i class="bi bi-star"></i>&nbsp;<i class="bi bi-star"></i>
                    {% endif %}
                    </h4>
                      <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                    </div>
                    <div class="modal-body">
                      <p>{{ feedback.review_text }}</p>
                    </div>
                    <div class="modal-footer">
                      <button type="button" class="btn btn-link text-gray-600 ms-auto" data-bs-dismiss="modal">Close</button>
                    </div>
                  </div>
                </div>
              </div>
            {% empty %}
              <tr>
                <td colspan="7" class="text-center text-muted">No Reviews found.</td>
              </tr>
            {% endfor %}
          </tbody>
        </table>
      </div>
    </div>
  </div>
  <br>
{% endblock %}
