{% extends 'base.html' %}
{% block content %}
<div class="page-title light-background">
  <div class="container">
    <h1>Plan Description</h1>
    <nav class="breadcrumbs">
      <ol>
        <li>
          <a href="index.html">Home</a>
        </li>
        <li class="current">Plan Description</li>
      </ol>
    </nav>
  </div>
</div>
<!-- End Page Title -->
<section id="basic-plan" class="service-details section">
  <div class="container">
    <div class="row gy-5">
      <!-- CONTENT AREA -->
      {% include 'partials/enterprise_plan_content.html' %}

      <!-- BUY SECTION -->
      <div class="col-lg-4">
        <div class="service-box text-center">
          <h4>Enterprise Plan</h4>
          <h2 class="my-3">₹1999</h2>
          <p class="text-muted">per month</p>
          {% if request.user.is_authenticated %}
            {% if active_plan == 'enterprise' %}
              <button class="btn btn-success w-100 py-2 mt-3" disabled>Current Plan</button>
            {% else %}
              <form action="{% url 'initiate_payment' %}" method="POST">
                {% csrf_token %}
                <input type="text" name="plan" id="plan" value="enterprise" step="0.01" hidden />
                <button type="submit" class="btn btn-primary w-100 py-2 mt-3">Buy Now</button>
              </form>
            {% endif %}
          {% else %}
          <a href="login" class="btn btn-primary w-100 py-2 mt-3">Login to Buy Now</a>
          {% endif %}
        </div>
      </div>
    </div>
  </div>
</section>
{% endblock %}