{% extends 'base.html' %}
{% load static %}
{% load youtube_extras %}
{% block title %}
<title>Teltam</title>
{% endblock title %}
{% block content %}
  <style>
    .typing-text {
      white-space: pre-wrap;
      overflow: hidden;
      font-family: 'Noto Sans Tamil', serif;
      font-size: 1rem;
    }
    
    .company-badge {
      font-weight: bold;
      font-size: 1.3rem;
    }
        .form-control.red-outline {
      border: 1px solid red !important;
      box-shadow: 0 0 0 0.25rem rgba(255, 0, 0, 0.25);
    }
    
    .youtube-play-button {
      position: absolute;
      top: 50%;
      left: 50%;
      width: 68px;
      height: 48px;
      transform: translate(-50%, -50%);
      pointer-events: none;
      opacity: 0.9;
    }
  </style>
  <section id="hero" class="hero section">
    <div class="container" data-aos="fade-up" data-aos-delay="100">
      <div class="row align-items-center">
        <div class="col-lg-5">
          <div class="hero-content" data-aos="fade-up" data-aos-delay="200">
            <div class="company-badge mb-4">
              <i class="bi bi-translate me-2"></i>
              <span id="typing" class="typing-text"></span>
            </div>
            <h1 class="mb-4">
              Translate with
              <span class="accent-text">Quick and Accurate</span>
            </h1>
            <p class="mb-4 mb-md-5">Upload your image containing text in Telugu, Hindi, Tamil, Malayalam, Kannada and we will translate it to English instantly. Experience fast and reliable translation with advanced AI technology.</p>
          </div>
        </div>

        <div class="col-lg-7">
          <div class="hero-image" data-aos="zoom-out" data-aos-delay="30">
            <div id="heroCarousel" class="carousel slide" data-bs-ride="carousel">
              <div class="carousel-inner">
                <div class="carousel-item active">
                  <img src="{% static 'assets/img/home_2.png' %}" class="d-block w-100" alt="Slide 1" />
                </div>
                <div class="carousel-item">
                  <img src="{% static 'assets/img/home_3.png' %}" class="d-block w-100" alt="Slide 2" />
                </div>
                <div class="carousel-item">
                  <img src="{% static 'assets/img/home.png' %}" class="d-block w-100" alt="Slide 3" />
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>

  <section id="features" class="features section">
    <div class="container section-title" data-aos="fade-up">
      <h2>Features</h2>
      <p>Our translation service provides fast, accurate, and easy-to-use tools for translating text from Telugu, Hindi, Tamil, Malayalam, Kannada to Any of the above and English using images.</p>
    </div>

    <div class="container">
      <div class="d-flex justify-content-center">
        <ul class="nav nav-tabs" data-aos="fade-up" data-aos-delay="100">
          <li class="nav-item">
            <a class="nav-link active show" data-bs-toggle="tab" data-bs-target="#features-tab-1"><h4>Accurate</h4></a>
          </li>

          <li class="nav-item">
            <a class="nav-link" data-bs-toggle="tab" data-bs-target="#features-tab-2"><h4>Fast</h4></a>
          </li>
          <li class="nav-item">
            <a class="nav-link" data-bs-toggle="tab" data-bs-target="#features-tab-3"><h4>Easy</h4></a>
          </li>
        </ul>
      </div>

      <div class="tab-content" data-aos="fade-up" data-aos-delay="200">
        <div class="tab-pane fade active show" id="features-tab-1">
          <div class="row">
            <div class="col-lg-6 order-1 order-lg-2 text-center">
              <img src="{% static 'assets/img/fav1.jpg' %}" alt="Accurate Image Translation" class="img-fluid" />
            </div>
            <div class="col-lg-6 order-2 order-lg-1 mt-3 mt-lg-0 d-flex flex-column justify-content-center">
              <h3>Accurate Image Translation</h3>
              <p class="fst-italic">Our AI-powered system ensures high accuracy in translating Telugu, Hindi, Tamil, Malayalam, Kannada text from your images to Tamil and English.</p>
              <ul>
                <li>
                  <i class="bi bi-check2-all"></i> <span>Supports multiple image formats for text extraction.</span>
                </li>
                <li>
                  <i class="bi bi-check2-all"></i> <span>Real-time translation with minimal errors.</span>
                </li>
                <li>
                  <i class="bi bi-check2-all"></i> <span>Advanced language processing for better context understanding.</span>
                </li>
              </ul>
            </div>
          </div>
        </div>

        <div class="tab-pane fade" id="features-tab-2">
          <div class="row">
            <div class="col-lg-6 order-2 order-lg-1 mt-3 mt-lg-0 d-flex flex-column justify-content-center">
              <h3>Fast & Reliable</h3>
              <p class="fst-italic">Our system provides translations almost instantly, ensuring a seamless experience for the user.</p>
              <ul>
                <li>
                  <i class="bi bi-check2-all"></i> <span>Instant translation results without delays.</span>
                </li>
                <li>
                  <i class="bi bi-check2-all"></i> <span>Reliable service with high uptime and accuracy.</span>
                </li>
                <li>
                  <i class="bi bi-check2-all"></i> <span>Works seamlessly with images of all qualities.</span>
                </li>
              </ul>
            </div>
            <div class="col-lg-6 order-1 order-lg-2 text-center">
              <img src="{% static 'assets/img/fav.jpg' %}" alt="Fast Translation" class="img-fluid" />
            </div>
          </div>
        </div>
        <!-- End tab content item -->

        <div class="tab-pane fade" id="features-tab-3">
          <div class="row">
            <div class="col-lg-6 order-2 order-lg-1 mt-3 mt-lg-0 d-flex flex-column justify-content-center">
              <h3>Easy to Use</h3>
              <ul>
                <li>
                  <i class="bi bi-check2-all"></i> <span>Upload your image and get instant translations.</span>
                </li>
                <li>
                  <i class="bi bi-check2-all"></i> <span>Simple interface, no technical knowledge needed.</span>
                </li>
                <li>
                  <i class="bi bi-check2-all"></i> <span>Multiple language support for accurate results.</span>
                </li>
              </ul>
              <p class="fst-italic">The process is as simple as uploading an image and receiving your translated text in the language of your choice.</p>
            </div>
            <div class="col-lg-6 order-1 order-lg-2 text-center">
              <img src="{% static 'assets/img/Accurate.jpg' %}" alt="Easy to Use" class="img-fluid" />
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>

  <!--           <section id="features-cards" class="features-cards section">
    <div class="container">
      <div class="row gy-4">
        <div class="col-xl-3 col-md-6" data-aos="zoom-in" data-aos-delay="100">
          <div class="feature-box orange">
            <i class="bi bi-check-circle"></i>
            <h4>Accurate Translations</h4>
            <p>Our advanced AI technology ensures highly accurate translations from Hindi and Telugu to Tamil and English.</p>
          </div>
        </div>
        <div class="col-xl-3 col-md-6" data-aos="zoom-in" data-aos-delay="200">
          <div class="feature-box blue">
            <i class="bi bi-speedometer"></i>
            <h4>Fast Processing</h4>
            <p>Get quick results with minimal waiting time. Upload your image and receive your translation instantly.</p>
          </div>
        </div>

        <div class="col-xl-3 col-md-6" data-aos="zoom-in" data-aos-delay="300">
          <div class="feature-box green">
            <i class="bi bi-file-earmark-image"></i>
            <h4>Simple to Use</h4>
            <p>Just upload your image, and our tool does the rest. It’s as simple as clicking a button.</p>
          </div>
        </div>

        <div class="col-xl-3 col-md-6" data-aos="zoom-in" data-aos-delay="400">
          <div class="feature-box red">
            <i class="bi bi-globe"></i>
            <h4>Multi-Language Support</h4>
            <p>Support for multiple languages, including Tamil, English, Hindi, and Telugu, for seamless translations.</p>
          </div>
        </div>
      </div>
    </div>
  </section> -->

  <section id="features-2" class="features-2 section">
    <div class="container" data-aos="fade-up" data-aos-delay="100">
      <div class="row align-items-center">
        <div class="col-lg-4">
          <div class="feature-item text-end mb-5" data-aos="fade-right" data-aos-delay="200">
            <div class="d-flex align-items-center justify-content-end gap-4">
              <div class="feature-content">
                <h3>Use On Any Device</h3>
                <p>Access our translation service on any device, whether it's a desktop, tablet, or mobile. No restrictions, just seamless translation at your fingertips.</p>
              </div>
              <div class="feature-icon flex-shrink-0">
                <i class="bi bi-display"></i>
              </div>
            </div>
          </div>

          <div class="feature-item text-end mb-5" data-aos="fade-right" data-aos-delay="300">
            <div class="d-flex align-items-center justify-content-end gap-4">
              <div class="feature-content">
                <h3>Multi-Language Support</h3>
                <p>Translate Hindi, Telugu, Tamil, Malayalam and Kannada with ease. Our system supports these languages for efficient and accurate translations.</p>
              </div>
              <div class="feature-icon flex-shrink-0">
                <i class="bi bi-translate"></i>
              </div>
            </div>
          </div>
          <!-- Feature 3: Fast Processing -->
          <div class="feature-item text-end" data-aos="fade-right" data-aos-delay="400">
            <div class="d-flex align-items-center justify-content-end gap-4">
              <div class="feature-content">
                <h3>Fast Processing</h3>
                <p>Get your translations almost instantly after uploading the image. We ensure that your work gets done in no time.</p>
              </div>
              <div class="feature-icon flex-shrink-0">
                <i class="bi bi-speedometer"></i>
              </div>
            </div>
          </div>
        </div>

        <div class="col-lg-4" data-aos="zoom-in" data-aos-delay="200">
          <div class="phone-mockup text-center">
            <img src="{% static 'assets/img/mobile.png' %}" alt="Translation App Mockup" class="img-fluid" />
          </div>
        </div>

        <div class="col-lg-4">
          <!-- Feature 4: Easy to Use -->
          <div class="feature-item mb-5" data-aos="fade-left" data-aos-delay="200">
            <div class="d-flex align-items-center gap-4">
              <div class="feature-icon flex-shrink-0">
                <i class="bi bi-file-earmark-image"></i>
              </div>
              <div class="feature-content">
                <h3>Easy to Use</h3>
                <p>Simply upload your image, and our system will automatically extract the text and translate it. No complex steps required!</p>
              </div>
            </div>
          </div>

          <!-- Feature 5: Image Support -->
          <div class="feature-item mb-5" data-aos="fade-left" data-aos-delay="300">
            <div class="d-flex align-items-center gap-4">
              <div class="feature-icon flex-shrink-0">
                <i class="bi bi-image"></i>
              </div>
              <div class="feature-content">
                <h3>Image Support</h3>
                <p>Upload images in various formats, and our system will recognize the text and translate it instantly into your chosen language.</p>
              </div>
            </div>
          </div>

          <!-- Feature 6: Accurate Translations -->
          <div class="feature-item" data-aos="fade-left" data-aos-delay="400">
            <div class="d-flex align-items-center gap-4">
              <div class="feature-icon flex-shrink-0">
                <i class="bi bi-check-circle"></i>
              </div>
              <div class="feature-content">
                <h3>Accurate Translations</h3>
                <p>Our AI-driven technology ensures that your translations are as accurate as possible, capturing nuances and context from the original text.</p>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>

  <section id="stats" class="stats section">
    <div class="container" data-aos="fade-up" data-aos-delay="100">
      <div class="row gy-4">
        <div class="col-lg-4 col-md-6">
          <div class="stats-item text-center w-100 h-100">
            <span data-purecounter-start="0" data-purecounter-end="5" data-purecounter-duration="1" class="purecounter"></span>
            <p>Languages Translated</p>
          </div>
        </div>
        <div class="col-lg-4 col-md-6">
          <div class="stats-item text-center w-100 h-100">
            <span data-purecounter-start="0" data-purecounter-end="{{ img }}" data-purecounter-duration="1" class="purecounter"></span>
            <p>Images Processed</p>
          </div>
        </div>
        <div class="col-lg-4 col-md-6">
          <div class="stats-item text-center w-100 h-100">
            <span data-purecounter-start="0" data-purecounter-end="{{ clients }}" data-purecounter-duration="1" class="purecounter"></span>
            <p>Clients Served</p>
          </div>
        </div>
      </div>
    </div>
  </section>

  <section id="blogs" class="services section light-background">
    <div class="container section-title" data-aos="fade-up">
      <h2>Discover our Blogs</h2>
      <p>Explore fresh insights, tips, and stories from our latest blog posts.</p>
    </div>
    <div class="container py-5" data-aos="fade-up" data-aos-delay="100">
      <div class="row g-4">
        {% for blog in blog %}
          <div class="col-md-6 col-lg-4">
            <div class="card h-100 shadow-sm">
              {% if blog.image %}
                <img src="{{ blog.image.url }}" class="card-img-top" alt="{{ blog.title }}" style="height: 200px; object-fit: cover; width: 100%;" />
              {% endif %}
              <div class="card-body">
                <h5 class="card-title fw-bold">{{ blog.title }}</h5>

                <button class="btn btn-danger btn-sm">{{ blog.created_at|date:'d/m/Y' }}</button>

                <p class="card-text text-muted small">{{ blog.content|striptags|truncatewords:25 }}</p>
                <div class="mt-auto">
                  <a href="{% url 'view_blog' blog.title %}" class="read-more">Read More <i class="bi bi-arrow-right"></i></a>
                </div>
              </div>
              {% if blog.tags.exists %}
                <div class="card-footer bg-transparent border-0 small text-muted">
                  {% for tag in blog.tags.all %}
                    <span class="me-1">#<a href="{% url 'tag_based_search' tag.name %}" style="color: inherit;text-decoration: none;">{{ tag.name }}</a></span>
                  {% endfor %}
                </div>
              {% endif %}
            </div>
          </div>
        {% endfor %}
      </div>
      <br>
      <div class="text-end">
      <a href="{% url 'list_of_blogs' %}">Go to articles &nbsp;<i class="bi bi-arrow-right"></i></a>
      </div>
    </div>
  </section>


    <section id="videos" class="services section light-background">
    <div class="container section-title" data-aos="fade-up">
      <h2>Discover our Video's</h2>
      <p>Explore fresh insights, tips, and stories from our latest video uploads.</p>
    </div>
    <div class="container py-5" data-aos="fade-up" data-aos-delay="100">
      <div class="row g-4" id="videoContainer">
        {% for video in video %}
          <div class="col-md-6 col-lg-4 video-card" data-title="{{ video.title|lower }}" data-content="{{ video.description|striptags|truncatewords:25|lower }}">
            <a href="#">
              <div class="card h-100 shadow-sm">
                <a href="{% url "view_video" video.id %}" class="video-thumbnail-wrapper text-decoration-none">
                  <div class="ratio ratio-16x9 position-relative">
                    <img src="https://img.youtube.com/vi/{{ video.youtube_url|youtube_id }}/hqdefault.jpg" alt="{{ video.title }}" class="img-fluid rounded shadow" />
                    <div class="youtube-play-button">
                      <svg height="100%" version="1.1" viewBox="0 0 68 48" width="100%">
                        <path d="M66.52 7.85c-.77-2.9-3.06-5.19-5.96-5.96C55.45 0 34 0 34 0S12.55 0 7.44 1.89c-2.9.77-5.19 3.06-5.96 5.96C0 12.95 0 24 0 24s0 11.05 1.48 16.15c.77 2.9 3.06 5.19 5.96 5.96C12.55 48 34 48 34 48s21.45 0 26.56-1.89c2.9-.77 5.19-3.06 5.96-5.96C68 35.05 68 24 68 24s0-11.05-1.48-16.15z" fill="#f00" />
                        <path d="M45 24 27 14v20z" fill="#fff" />
                      </svg>
                    </div>
                  </div>
                </a>
                
                <div class="card-body">
                  <h5 class="card-title fw-bold">{{ video.title }}</h5>
                  <p class="card-text text-muted small">{{ video.description|striptags|truncatewords:25 }}</p>
                </div>
              </div>
            </a>
          </div>
        {% empty %}
          <p class="text-center">No videos available.</p>
        {% endfor %}
      </div>
      <br>
      <div class="text-end">
      <a href="{% url 'list_of_videos' %}">Go to Playlist &nbsp;<i class="bi bi-arrow-right"></i></a>
      </div>
    </div>
  </section>


  <section id="call-to-action" class="call-to-action section">
    <div class="container" data-aos="fade-up" data-aos-delay="100">
      <div class="row content justify-content-center align-items-center position-relative">
        <div class="col-lg-8 mx-auto text-center">
          <h2 class="display-4 mb-4">Start Translating Your Images Instantly</h2>
          <p class="mb-4">Upload an image, and let our service quickly extract and translate the text for you. Available in Hindi, Telugu, Tamil, and English.</p>
          {% if request.user.is_authenticated %}
            <a href="{% url 'home' %}" class="btn btn-cta">Try It Now</a>
          {% else %}
            <a href="{% url 'login' %}" class="btn btn-cta">Try It Now</a>
          {% endif %}
        </div>
        <div class="shape shape-1">
          <svg viewBox="0 0 200 200" xmlns="http://www.w3.org/2000/svg">
            <path d="M47.1,-57.1C59.9,-45.6,68.5,-28.9,71.4,-10.9C74.2,7.1,71.3,26.3,61.5,41.1C51.7,55.9,35,66.2,16.9,69.2C-1.3,72.2,-21,67.8,-36.9,57.9C-52.8,48,-64.9,32.6,-69.1,15.1C-73.3,-2.4,-69.5,-22,-59.4,-37.1C-49.3,-52.2,-32.8,-62.9,-15.7,-64.9C1.5,-67,34.3,-68.5,47.1,-57.1Z" transform="translate(100 100)"></path>
          </svg>
        </div>
        <div class="shape shape-2">
          <svg viewBox="0 0 200 200" xmlns="http://www.w3.org/2000/svg">
            <path d="M41.3,-49.1C54.4,-39.3,66.6,-27.2,71.1,-12.1C75.6,3,72.4,20.9,63.3,34.4C54.2,47.9,39.2,56.9,23.2,62.3C7.1,67.7,-10,69.4,-24.8,64.1C-39.7,58.8,-52.3,46.5,-60.1,31.5C-67.9,16.4,-70.9,-1.4,-66.3,-16.6C-61.8,-31.8,-49.7,-44.3,-36.3,-54C-22.9,-63.7,-8.2,-70.6,3.6,-75.1C15.4,-79.6,28.2,-58.9,41.3,-49.1Z" transform="translate(100 100)"></path>
          </svg>
        </div>
        <div class="dots dots-1">
          <svg viewBox="0 0 100 100" xmlns="http://www.w3.org/2000/svg">
            <pattern id="dot-pattern" x="0" y="0" width="20" height="20" patternUnits="userSpaceOnUse">
              <circle cx="2" cy="2" r="2" fill="currentColor"></circle>
            </pattern>
            <rect width="100" height="100" fill="url(#dot-pattern)"></rect>
          </svg>
        </div>
        <div class="dots dots-2">
          <svg viewBox="0 0 100 100" xmlns="http://www.w3.org/2000/svg">
            <pattern id="dot-pattern-2" x="0" y="0" width="20" height="20" patternUnits="userSpaceOnUse">
              <circle cx="2" cy="2" r="2" fill="currentColor"></circle>
            </pattern>
            <rect width="100" height="100" fill="url(#dot-pattern-2)"></rect>
          </svg>
        </div>

        <div class="shape shape-3">
          <svg viewBox="0 0 200 200" xmlns="http://www.w3.org/2000/svg">
            <path d="M43.3,-57.1C57.4,-46.5,71.1,-32.6,75.3,-16.2C79.5,0.2,74.2,19.1,65.1,35.3C56,51.5,43.1,65,27.4,71.7C11.7,78.4,-6.8,78.3,-23.9,72.4C-41,66.5,-56.7,54.8,-65.4,39.2C-74.1,23.6,-75.8,4,-71.7,-13.2C-67.6,-30.4,-57.7,-45.2,-44.3,-56.1C-30.9,-67,-15.5,-74,0.7,-74.9C16.8,-75.8,33.7,-70.7,43.3,-57.1Z" transform="translate(100 100)"></path>
          </svg>
        </div>
      </div>
    </div>
  </section>

  <section id="testimonials" class="testimonials section light-background">
    <div class="container section-title" data-aos="fade-up">
      <h2>Testimonials</h2>
      <p>See what our happy customers have to say about their experience with us</p>
    </div>
    <div class="container">
      <div class="row g-5">
        {% for i in reviews %}
          <div class="col-lg-6" data-aos="fade-up" data-aos-delay="100">
            <div class="testimonial-item">
              <img src="{% static 'assets/img/user.png' %}" class="testimonial-img" alt="" />
              <h3>{{ i.name }}</h3>
              <div class="stars">
                <i class="bi bi-star-fill"></i><i class="bi bi-star-fill"></i><i class="bi bi-star-fill"></i><i class="bi bi-star-fill"></i><i class="bi bi-star-fill"></i>
              </div>
              <p>
                <i class="bi bi-quote quote-icon-left"></i>
                <span>{{ i.review_text }}</span>
                <i class="bi bi-quote quote-icon-right"></i>
              </p>
            </div>
          </div>
        {% endfor %}
      </div>
    </div>
  </section>

  <!--           <section id="pricing" class="pricing section light-background">
 
    <div class="container section-title" data-aos="fade-up">
      <h2>Pricing</h2>
      <p>Necessitatibus eius consequatur ex aliquid fuga eum quidem sint consectetur velit</p>
    </div> 

    <div class="container" data-aos="fade-up" data-aos-delay="100">

      <div class="row g-4 justify-content-center">
 
        <div class="col-lg-4" data-aos="fade-up" data-aos-delay="100">
          <div class="pricing-card">
            <h3>Basic Plan</h3>
            <div class="price">
              <span class="currency">$</span>
              <span class="amount">9.9</span>
              <span class="period">/ month</span>
            </div>
            <p class="description">Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque laudantium totam.</p>

            <h4>Featured Included:</h4>
            <ul class="features-list">
              <li>
                <i class="bi bi-check-circle-fill"></i>
                Duis aute irure dolor
              </li>
              <li>
                <i class="bi bi-check-circle-fill"></i>
                Excepteur sint occaecat
              </li>
              <li>
                <i class="bi bi-check-circle-fill"></i>
                Nemo enim ipsam voluptatem
              </li>
            </ul>

            <a href="#" class="btn btn-primary">
              Buy Now
              <i class="bi bi-arrow-right"></i>
            </a>
          </div>
        </div>
 
        <div class="col-lg-4" data-aos="fade-up" data-aos-delay="200">
          <div class="pricing-card popular">
            <div class="popular-badge">Most Popular</div>
            <h3>Standard Plan</h3>
            <div class="price">
              <span class="currency">$</span>
              <span class="amount">19.9</span>
              <span class="period">/ month</span>
            </div>
            <p class="description">At vero eos et accusamus et iusto odio dignissimos ducimus qui blanditiis praesentium voluptatum.</p>

            <h4>Featured Included:</h4>
            <ul class="features-list">
              <li>
                <i class="bi bi-check-circle-fill"></i>
                Lorem ipsum dolor sit amet
              </li>
              <li>
                <i class="bi bi-check-circle-fill"></i>
                Consectetur adipiscing elit
              </li>
              <li>
                <i class="bi bi-check-circle-fill"></i>
                Sed do eiusmod tempor
              </li>
              <li>
                <i class="bi bi-check-circle-fill"></i>
                Ut labore et dolore magna
              </li>
            </ul>
            <a href="#" class="btn btn-light">
              Buy Now
              <i class="bi bi-arrow-right"></i>
            </a>
          </div>
        </div>

        <div class="col-lg-4" data-aos="fade-up" data-aos-delay="300">
          <div class="pricing-card">
            <h3>Premium Plan</h3>
            <div class="price">
              <span class="currency">$</span>
              <span class="amount">39.9</span>
              <span class="period">/ month</span>
            </div>
            <p class="description">Quis autem vel eum iure reprehenderit qui in ea voluptate velit esse quam nihil molestiae.</p>

            <h4>Featured Included:</h4>
            <ul class="features-list">
              <li>
                <i class="bi bi-check-circle-fill"></i>
                Temporibus autem quibusdam
              </li>
              <li>
                <i class="bi bi-check-circle-fill"></i>
                Saepe eveniet ut et voluptates
              </li>
              <li>
                <i class="bi bi-check-circle-fill"></i>
                Nam libero tempore soluta
              </li>
              <li>
                <i class="bi bi-check-circle-fill"></i>
                Cumque nihil impedit quo
              </li>
              <li>
                <i class="bi bi-check-circle-fill"></i>
                Maxime placeat facere possimus
              </li>
            </ul>

            <a href="#" class="btn btn-primary">
              Buy Now
              <i class="bi bi-arrow-right"></i>
            </a>
          </div>
        </div>

      </div>

    </div>

  </section>           -->

  <!--           <section id="call-to-action-2" class="call-to-action-2 section dark-background">

    <div class="container">
      <div class="row justify-content-center" data-aos="zoom-in" data-aos-delay="100">
        <div class="col-xl-10">
          <div class="text-center">
            <h3>Call To Action</h3>
            <p>Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
            <a class="cta-btn" href="#">Call To Action</a>
          </div>
        </div>
      </div>
    </div>

  </section>   -->

 

  
  <section id="contact" class="contact section light-background">
    <div class="container section-title" data-aos="fade-up">
      <h2>Contact</h2>
      <p>Our team is ready to assist with your language needs, content localization, and multilingual blog strategies.</p>
    </div>

    <div class="container" data-aos="fade-up" data-aos-delay="100">
      <div class="row g-4 g-lg-5">
        <div class="col-lg-5">
          <div class="info-box" data-aos="fade-up" data-aos-delay="200">
            <h3>Contact Info</h3>
            <p>Have questions or need assistance with our translation services or blog content? We're here to help!.</p>
            <div class="info-item" data-aos="fade-up" data-aos-delay="300">
              <div class="icon-box">
                <i class="bi bi-geo-alt"></i>
              </div>
              <div class="content">
                <h4>Our Location</h4>
                <p>343-B,Krishna Illam, Thalaivasal</p>
                <p>Salem, Tamil Nadu - 636112</p>
              </div>
            </div>
            <div class="info-item" data-aos="fade-up" data-aos-delay="400">
              <div class="icon-box">
                <i class="bi bi-telephone"></i>
              </div>
              <div class="content">
                <h4>Phone Number</h4>
                <p>+91 99438 76570</p>
              </div>
            </div>
          </div>
        </div>
        <div class="col-lg-7">
          <div class="contact-form" data-aos="fade-up" data-aos-delay="300">
            <h3>Get In Touch</h3>
            <p>Looking for expert translation services or professional blog content solutions? We’d love to hear from you.</p>
            <form method="POST" id="contact-form">
              {% csrf_token %}
              <div class="row gy-4">
                <div class="col-md-6">{{ form.name }}</div>
                <div class="col-md-6">{{ form.email }}</div>
                <div class="col-12">{{ form.message }}</div>
                <div class="col-12 text-center">
                  <button type="submit" class="btn btn-primary">Send Message</button>
                </div>
              </div>
            </form>
          </div>
        </div>
      </div>
    </div>
  </section>

  <script>
    document.getElementById('contact-form').addEventListener('submit', function (e) {
      e.preventDefault() // Prevent immediate form submission
    
      Swal.fire({
        title: 'Are you sure?',
        text: 'Do you want to send this message?',
        icon: 'warning',
        showCancelButton: true,
        confirmButtonColor: '#3085d6',
        cancelButtonColor: '#d33',
        confirmButtonText: 'Yes, send it!'
      }).then((result) => {
        if (result.isConfirmed) {
          // Submit the form manually after confirmation
          this.submit()
        }
      })
    })
    
    const kurals = [`"அகர முதல எழுத்தெல்லாம் ஆதி\nபகவன் முதற்றே உலகு"`, `"தெய்வத்தான் ஆகா தெனினும் முயற்சிதன்\nமெய்வருத்தக் கூலி தரும்"`, `"ஈதல் இளமையும் ஈன்ற பொருட்கும்\nகாதலின் ஏதிலார் சாற்று"`, `"அறத்தாறு ஆற்றின் இல்வாழ்க்கை யாதெனின்\nபிறத்தாறு பெட்ப ஒழுக்கம்"`, `"உலகத்தோடு ஒட்ட ஒழுகல் பலகற்றும்\nகல்லாதார் அறிவிலா ரன்று"`, `"மறத்தலின் ஒல்லும்வாய் எல்லாம் ஒறுத்து\nஅறத்தாற்றின் ஆற்றல் தலை"`, `"நன்றிக்கு வித்தாகும் நெஞ்சத் துடையார்\nசென்றிக்கண் செல்லாத தூஉம்"`, `"அறம் செய விரும்பு வார் ஆசை திறம்பார்\nபிறன் பிணி நோக்கார் எனின்"`, `"அறம் செய்பவன் தன்பொருள் நோக்கான் பிறர்க்கே\nபுரிந்த உதவி விரும்பு"`]
    
    const target = document.getElementById('typing')
    let i = 0
    let char = 0
    function typeWriter(text, callback) {
      if (char < text.length) {
        target.innerHTML += text.charAt(char)
        char++
        setTimeout(() => typeWriter(text, callback), 50)
      } else if (callback) {
        setTimeout(callback, 1000)
      }
    }
    function showNextKural() {
      target.innerHTML = ''
      char = 0
      const currentKural = kurals[i]
      typeWriter(currentKural, () => {
        i = (i + 1) % kurals.length
        setTimeout(showNextKural, 9000)
      })
    }
    showNextKural()
  </script>
{% endblock %}
